.App {
  background-color: rgb(250, 250, 250); 
  color: rgb(50, 50, 50);
}
.header{
  background-color: #0a66c2;
  display: flex;
  align-items: center;
  padding: 5px 100px;

  color: white;
}
.logo{
  height: 25px;
}
.headerlogo{
  width: fit-content;
  padding : 5px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: white;
}

.headerinput{
  display: flex;
  align-items: center;
  background-color: #3587da;
  border-radius: 5px;
  width: 61%;
  padding : 5px;
}
.headerinput > svg{
  width: 50px;
}
.headerinput > input{
  background-color:transparent;
  color: white;
  border : none;
  flex: 1;
}
.headericons{
  margin-left: 40px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}
.headericons > button{
  border : none;
  width : 40%;
  border-radius: 5px;
  font-weight: bold;  
  background-color: yellow;
}
.headericons > *{
  margin-right: 10px;
  height: 40px;
}
.nav{
  padding : 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.navcomp{
  display: flex;
}
.navicon{
  margin-right: 10px;
}
.container{
  margin: 20px 100px;
  display: flex;
  justify-content: space-between;
}

.content{
  flex : 0.7;
  margin-right: 10px;
}
.profile,.navigation,.description,.pagead{
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}
.navigation{
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
}
.navigation > *{
  padding: 20px 0;
}
h3{
  font-weight: 600;
}
.coverimg{
  width: 100%;
  height: 160px;
  border-radius: 5px;
  background-image: url('/src/component/figmacover.png');
  background-position: top;
}

.profileimg{
  background-image: url('/src/component/Figma-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  background-size:50%;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border-radius: 5px;
  margin : -65px 30px;
}
.profilebody{
  border-radius: 5px;
  margin-top : 80px;
  padding : 0 30px 10px;
}
.profilebody > *{
  margin : 5px;
}
.profilebody > div:nth-child(3){
  display: flex;
  align-items: center;
  color: rgb(155, 155, 155);
}
.profilebody > div:nth-child(4){
  display: flex;
  align-items: center;
  color: #034cac;
}
.profilebody > div > p{
  margin: 10px;
}

.follow{
  display: inline-flex;
  align-items: center;
  background-color: #034cac;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
}
.follow > i{
  margin-right: 5px;
}
.visit{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3587da;
}
.ellipse{
  padding: 10px;
  width: 38px;
  color: #034cac;
  font-weight: bolder;
  border-radius: 5px;
  border: none;
}
.description{
  padding: 10px 30px;
}
.descriptiontemplate{
  display: flex;
}
.card{
  height:auto;
  border: 4px solid rgb(250, 250, 250);
  border-radius: 5px;
  margin: 5px;
  align-items: flex-end;
  flex:1;
  padding: 10px;
}
.card > div:first-child{
  color: lightgray;
}
.card>div:last-child{
  color: #034cac;
}
.description > div:last-child{
  text-align: center;
  padding: 20px;
  color: #034cac;
}
.ad{
  margin-left: 10px;
  flex: 0.35;
}
.pagead{
  padding : 20px;
  font-weight: bold;
}

.pageaccount{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.pageaccount:first-child{
  margin-top: 20px;
}
.pageaccount> div:first-child{
  height: 50px;
  width: 50px;
}
.pageaccount> div:last-child{
  font-size: 20px;
  color:#0a66c2;
}

.pageinfo{
  padding-left: 20px;
  display: flex;
  width: 300px;
  font-weight: normal;
  justify-content: center;
  flex-direction: column;
}

.pageinfo > div:last-child > *{
  display: inline-block;
}
.pageinfo > div > p:not(:first-child){
  margin-left: 5px;
}
.pageinfo > div > p{
  margin: 0 5px 0 0;
  color: rgb(197, 161, 161);
}